<div fxLayout='column' fxLayoutAlign="center center"  style="height: 100vh">
  <form>
    <div fxLayout='row' fxLayoutAlign="center">
      <md-form-field>
        <input mdInput placeholder="Voting code">
      </md-form-field>
    </div>

    <div fxLayout='row' fxLayoutAlign="center">
      <button md-raised-button color="primary" routerLink="/voting">Enter Voting</button>
    </div>

    <div fxLayout='row' fxLayoutAlign="center">
      <button md-raised-button color="primary" routerLink="/create">Create Voting</button>
    </div>
  </form>
</div>


